*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #009688;
    width: 100vw;
    height: 18vh;
    z-index: 1;

}
#ilgrosso {
    background-color: #dbdbd2;
    width: 100vw;
    height: 100vh;
    z-index: 0;

}
/* tutto in zindex  */
.colonnasinistra-flex {
    width: 30%;
    /* height:80vh; */
    background-color:#eaeaea;
    float: left;

}
.colonnadestra-flex {
    width: 70%;
    /* height: 100%; */
    background-image: url(img/Sfondo.jpg);
    float: right;

}

.schermoprincipale {
    background-color:#d1d1e0 ;
    width: 80vw;
    height: 80vh;
    z-index: 999;
    margin-left: 10vw;
    margin-top: -15vh;
    position: relative;
}
/* facciamo parte sinistra */
.navbartopsx {
     border-right: 1px solid #eaeaea;
     display: flex;
     width:100%;
     height: 80px;
     /* position: fixed; */
     align-items: center;
     justify-content: space-between;
}
.navbartopdx {
     /* position: absolute; */
     background-color: #eaeaea;
     height: 80px;
     align-items: center;
     justify-content: space-between;
     display: flex;
}
.immagine1 {
    width: 25px;
    height: 25px;
    display: flex;
}
.segnetti i {
    color: darkgrey;
    font-size: 22px;
    padding: 0 5px;
    cursor: pointer;
    float: right;
    flex-wrap: wrap;

}

#faccinadonna {
    height: 50px;
    width: auto;
    border-radius: 20px;
    margin-left: 0px;
    margin-top: -15px;
    cursor: pointer;
}
.picc {
    height: 54px;
    width: auto;
    border-radius: 30px;
    margin-left: 15px;
    margin-top: 10px;
}
.nomi {
    margin-top: -50px;
    margin-left: 80px;
    color: black;
    font-size: 20px;
}
.frase {
    margin-left: 80px;
    color: grey;
}
#disinistra {
    width:80%;
    height: 80px;
    background-color: #eaeaea;
    position: relative;
}
#overflowsx {
  color: white;
  padding: 1px;
  width: 100%;
  height: 690px;
  overflow-y: scroll;
  border: 1px solid #ccc;

}

.dio1 {
    height:80px;
    background-color: #8edafc;
    border-bottom: 1px solid #eaeaea;
    /* margin-top: 80px; */
}
.dio1 i {
    color:#8edafc;
    font-size: 25px;
    border-radius: 90px;
    background-color: white;
    padding: 15px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;

}
.primaricerca{
    border-right: 1px solid #eaeaea;
}
.primaricerca2{
margin-left: 10px;
width: 400px;
}
.dio2 {
    height:40px;
    background-color: white;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.dio2 i {
    color: darkgrey;
    font-size: 22px;
    margin-left: 15px;
    padding: 0 10px;
    margin-top: 5px;
}
#ricevi {
    font-size: 17px;
    margin-left: 15px;
    padding: 15px;
}
#attiva {
    font-size: 15px;
    padding: 5px;
    color: grey;
    cursor: pointer;
    text-decoration: underline;
}
#ilprimo {
    width: 80%;
    height: 30px;
    border-radius: 5px;
}
.dio {
    height:84px;
    background-color: white;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
}
.dio:hover {
    background-color:#e9ebeb;
}

/* parte destraaaaaaa--------------------- */
#overflowdx {
  /* background: #4CAF50; */
  color: white;
  padding: 1px;
  width: 100%;
  height: 720px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

#didestra {
    width:56%;
    height: 80px;
    background-color:#eaeaea;
    position: absolute;
    border-left: 1px solid #b1b1b1;
}
#faccinarayban {
    height: 50px;
    width: auto;
    border-radius: 20px;
    margin-left: 15px;
    margin-top: -5px;
    float: left;
    cursor: pointer;
    padding: 0 10px;
}
#ultimoaccesso {
    color:  darkgrey;
}
.ola {
    width: 300px;
    margin-top: 10px;
}

/* #fabio {
    margin-top: 10px;
    margin-left: 10px;
} */
.segnetti2 i {
    color: darkgrey;
    font-size: 22px;
    float: right;
    padding: 0 10px;
    margin-top: 0px;
    margin-right: 10px;
    cursor: pointer;
}
/* nav bar sotto */
.barrasotto {
    width:100%;
    height: 90px;
    background-color:#eaeaea;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.finestra {
    width: 70%;
}
.smilesx, .micdx {
    width: 15%;
}
#perscrivere {
    width:90%;
    height: 70px;
    margin: 15px;
    border-radius: 6px;
}
.barrasotto i {
    color: #6b7376;
    font-size: 25px;
    /* padding: 0 10px; */
    cursor: pointer;
}
#smile {
    margin-left: 15px;
}
#mic {
    margin-left: 10px;
}

/* mediaquery */

@media screen and (min-width:992px) and (max-width: 1200px)  {
#ilgrosso {
    width: 100vw;
    height:100vh;
}
#overflowsx {

  width: 100%;
  height: 580px;

}
#overflowdx {

  width: 100%;
  height: 610px;
}
#ricevi {
    font-size: 12px;
}
#attiva {
    font-size: 12px;
}

}


/* input */
.ricevuti {
    float: left;
    width: 200px;
    height: 200px;

}
.inviati {
    float: right;
    width: 200px;
    height: 200px;
}
 #txtgreen {
     font-size: 24px;
     color: blue;
    padding: 0 10px;
 }
 #txtwhite {
     font-size: 24px;
     color: blue;
     padding: 0 10px;
 }
